.m-b-50{
    margin-bottom: 50px;
}
.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-25{
    margin-top: 25px;
}
.m-r-10{
    margin-right: 10px;
}
.content{
    min-height: 80vh;
}